{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm mt-5 border-danger">
            <div class="card-body text-center">
                <h4 class="text-danger">Atenção!</h4>
                <p>Tem certeza que deseja excluir a receita <strong>{{ receita.nome }}</strong>?</p>
                <form method="POST">
                    {% csrf_token %}
                    <a href="{% url 'lista_receitas' %}" class="btn btn-secondary me-2">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}